<ion-tabs>

<ion-tab-bar slot="bottom" class="compact-tabs">
  <ion-tab-button tab="vehicles">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="host-dashboard">
    <ion-icon name="documents"></ion-icon>
    <ion-label>FLEET</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="my-exchanges">
    <ion-icon name="analytics"></ion-icon>
    <ion-label>TRIPS</ion-label>
  </ion-tab-button>

    <ion-tab-button tab="my-bookings">
    <ion-icon name="search"></ion-icon>
    <ion-label>BOOKINGS</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="profile">
    <ion-icon name="person"></ion-icon>
    <ion-label>Profile</ion-label>
  </ion-tab-button>
</ion-tab-bar>


</ion-tabs>
