<ion-content fullscreen class="splash-container">
  <div class="splash-content">
    <img src="./../../assets/logo.png" class="logo" />
    <h1>Garage</h1>
    <h4>Mobile App</h4>
    <p class="tagline">Garage is a car sharing platform that enables private car owners to share their luxury and sports cars, distinct, quirky, or classic cars with other users (drivers).</p>
  

        <ion-button class="login-button" (click)="getStarted()" expand="block">
 GET STARTED</ion-button>
       </div> 
</ion-content>
